{% extends 'MainApiBundle::layout.html.twig' %}

{% block content %}
    {% if error == '' %}
        {{ event.name }}<br/>
        {{ event.description }}<br/>
        {% for eventUserParticipant in event.eventUserParticipans %}
            {{ eventUserParticipant.participant.user }}<br/>
        {% endfor %}
    {% else %}
        {{ error }}
    {% endif %}


    <br/>
    <a href="{{ path('main_api_dashboard') }}">Back</a><br />
{% endblock %}
