{% extends '::base.html.twig' %}
{% block javascripts %}
    {#{% javascripts '@MainApiBundle/Resources/public/js/*' %}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    <script src="//code.jquery.com/jquery-1.11.0.min.js" ></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="{{ asset('bundles/mainapi/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/mainapi/js/ajaxCall.js') }}"></script>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/mainapi/css/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/mainapi/bootstrap/css/bootstrap.min.css') }}" />
{% endblock %}

{% block body %}

{% block content %}
    {% block header %}
        <div id="header">
        <div class="logo-box">
            <img src="" />
        </div>
        <div class="search-box">
            <form action="">
                <input type="text" name="search-user" class="search-user-input" placeholder="Search">
            </form>
        </div>
        <div class="user-box">
            <span class="user-name">
                {{ user }}
            </span>
            <a href="{{ path('main_api_create_event') }}">Create event</a>
            <a href="{{ path('logout') }}">Logout</a>
            {% if render(controller('MainApiBundle:Notification:isNewNotification')) == 'true' %}
                You have new <a href="{{ path('main_api_notifications') }}">notifications</a>
            {% else %}
                You not have new <a href="{{ path('main_api_notifications') }}">notifications</a>
            {% endif %}

        </div>
        </div>
    {% endblock %}

{% endblock %}

{% endblock %}