{% extends '::base.html.twig' %}
{% block javascripts %}
    {#{% javascripts '@MainApiBundle/Resources/public/js/*' %}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    <script src="//code.jquery.com/jquery-1.11.0.min.js" ></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="{{ asset('bundles/mainapi/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/mainapi/js/ajaxCall.js') }}"></script>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/mainapi/css/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/mainapi/bootstrap/css/bootstrap.min.css') }}" />
{% endblock %}

{% block body %}

{% block content %}
    {% block header %}
        <div id="header-background"></div>
        <div id="header">
        <div id="logo-box">
            <img src="{{ asset('bundles/mainapi/images/logo.png') }}" id="header_logo" />
        </div>
        <div id="search-box">
            <form action="">
                <input type="text" name="search-user" id="search-user-input" placeholder="Search">
            </form>
        </div>
        <div id="user-box">
            <span id="user-box-name">
                {{ user }}
            </span>
            <a href="{{ path('main_api_create_event') }}" ><img src="{{ asset('bundles/mainapi/images/new_event.png') }}" id="user-box-create" /></a>
            {% if render(controller('MainApiBundle:Notification:isNewNotification')) == 'true' %}
                 <a href="{{ path('main_api_notifications') }}"><img src="{{ asset('bundles/mainapi/images/notification_new.png') }}" id="user-box-notification" /></a>
            {% else %}
                <a href="{{ path('main_api_notifications') }}"><img src="{{ asset('bundles/mainapi/images/notification.png') }}" id="user-box-notification"/></a>
            {% endif %}
            <a href="{{ path('logout') }}"><img src="{{ asset('bundles/mainapi/images/logout.png') }}" id="user-box-logout"/></a>

        </div>
        </div>
    {% endblock %}

{% endblock %}

{% endblock %}