{% extends 'MainApiBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}

    <script>
        var availableUserLink = '{{ path('get_available_user') }}'
        var availableParticipantLink = '{{ path('get_available_participant') }}'
        var addParticipantLink = '{{ path('main_api_add_participant') }}'
        var createTaskLink = '{{ path('main_api_create_task') }}'

        var ajaxLoader = '{{ asset('bundles/mainapi/images/ajax-loader.gif') }}'

    </script>


{% endblock %}

{% block content %}
    {% block header %}{{ parent() }}{% endblock %}

    <div id="content">
        <b>My events</b><br/>
        {% for event in events %}
            <br /><br /><br />
            <a href="{{ path('main_api_event', {'eventName': event.name}) }}">
                {{ event.name }}
            </a>
            <br />

            <b>Founder: </b>{{ event.user }}
            <br />
            {{ event.description }}<br />

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createTask" data-eventid="{{ event.id }}">
                Create task and put users
            </button>

            <br/>
            {{ event.eventDate|date('Y-m-d') }}<br />

            <button onclick="getAvailableUser({{ event.id }})">Add participant</button><br/>

            {% for eventUserParticipant in event.eventUserParticipans %}
                {% if eventUserParticipant.participant.isActive == true %}
                    {{ eventUserParticipant.participant.user }}
                {% endif %}
            {% endfor %}
        {% endfor %}

        <br/>
        <br/>
        <br/>
        <b>Connected people</b><br/>
        {% for userConnect in userConnections %}
            {% if userConnect.connect.isActive == true %}
                {{ userConnect.connect.user }}<br/>
            {% endif %}
        {% endfor %}
    </div>
    <div id="shadow-box" style="display: none">
        <div class="participant-area">
            <button onclick="cloaseAlert()">Close</button>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="createTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create task and put users</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="title" class="task-label">Title:</label>
                            <input type="text" class="form-control" id="task-title">
                        </div>
                        <div class="form-group">
                            <label for="description" class="description-label">Description:</label>
                            <textarea class="form-control" id="task-description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="participant" class="participant-label">Available participans:</label>
                            <div class="available-participant-group">

                            </div>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>


{% endblock %}