{% extends 'MainApiBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block content %}
    {% block header %}{{ parent() }}{% endblock %}

    <div id="content">
        <div id="back-notifications">

            {% for notification in notifications %}
                <div class="notification" id="notification{{ notification.id }}">
                    {% if notification.type == 10 %}
                    <a href="{{ path('main_api_user',{ 'userId': notification.eventUserNotification.user.id }) }}">{{ notification.eventUserNotification.user }}</a>
                        has {{ notification.title }}
                        your connect.

                    {% elseif notification.type == 20 %}
                        <a href="{{ path('main_api_user',{ 'userId': notification.eventUserNotification.user.id }) }}">{{ notification.eventUserNotification.user }}</a>
                        has
                        {{ notification.title }}
                        your invitation to this event
                        <a href="{{ path('main_api_event', { 'eventName': notification.eventUserNotification.event.name }) }}">{{ notification.eventUserNotification.event.name}}</a>.
                    {% endif %}



                </div>

            {% endfor %}
        </div>
        <div id="event-box">
            <div class="my-event">
                My Event <br/>

                {% for event in events %}
                    <a href="{{ path('main_api_event', { 'eventName': event.name }) }}">{{ event.name }}</a> <br/>
                {% endfor %}
                <br/>
            </div>
            <div class="participant-event">
                As participant in events<br/>
                {% for event in participantEvents %}
                    <a href="{{ path('main_api_event', { 'eventName': event.name }) }}">{{ event.name }}</a> <br/>
                {% endfor %}
            </div>
        </div>






    <div id="shadow-box" style="display: none">
        <div class="participant-area"></div>
    </div>

{% endblock %}