<a href="{{ path('main_api_create_event') }}">Create event</a><br />
<a href="{{ path('main_api_logout') }}">Logout</a><br />
<br/>
<b>My events</b><br/>
{% for event in events %}
    <br /><br /><br />
    {{ event.name }}<br />
    {{ event.description }}<br />
    {{ event.eventDate|date('Y-m-d') }}<br />
    <a href="{{ path('main_api_add_participant', {'event_id': event.id}) }}">Add participant</a><br />
    {% for participant in event.participans %}
        {{ participant.userUnder }}
        <a href="{{ path('main_api_get_work', {'event_id': event.id, 'participant_id': participant.id}) }}">Get work</a><br />
    {% endfor %}
{% endfor %}

<br/><br/>
