{% extends 'MainApiBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}

    <script>
        var ajaxLink = '{{ path('main_api_notification_ajaxCall') }}';
    </script>


{% endblock %}

{% block content %}
    <div id="header">
        <div class="logo-box">
            logo
        </div>
        <div class="search-box">
            <form action="">
                <input type="text" name="search-user" class="search-user-input" placeholder="Search">
            </form>
        </div>
        <div class="user-box">
            <span class="user-name">
                {{ user }}
            </span>
            <a href="{{ path('main_api_create_event') }}">Create event</a><br />
            <a href="{{ path('logout') }}">Logout</a><br />
        </div>
    </div>
    <div id="content">
        <b>My events</b><br/>
        {% for event in events %}
            <br /><br /><br />
            <a href="{{ path('main_api_event', {'eventName': event.name}) }}">
                {{ event.name }}
            </a>
            <br />

            <b>Founder: </b>{{ event.user }}
            <br />
            {{ event.description }}<br />

            <a href="{{ path('main_api_create_task', {'event_id': event.id}) }}">Create task</a><br />



            {{ event.eventDate|date('Y-m-d') }}<br />
            <a href="{{ path('main_api_add_participant', {'event_id': event.id}) }}">Add participant</a><br />
            {% for participant in event.participans %}

                {{ participant.userUnder }}


            {% endfor %}
        {% endfor %}

        <br/><br/>
        <b>Notification</b><br/>
        {% for notification in notifications %}
            <div class="notification" id="notification{{ notification.id }}">
                {{ notification.title }}<br/>
                <button class="agree"
                        onclick="confirmNotification({{ notification.id }}, true)">Agree
                </button>
                <button class="disagree"
                        onclick="confirmNotification({{ notification.id }}, false)">Disgree
                </button>

            </div>

        {% endfor %}

    </div>

{% endblock %}