{% extends 'MainApiBundle::layout.html.twig' %}


{% block content %}
<a href="{{ path('main_api_create_event') }}">Create event</a><br />
<a href="{{ path('login') }}">Login</a><br />
<a href="{{ path('logout') }}">Logout</a><br />
{{ user }}
<br/>
<b>My events</b><br/>
{% for event in events %}
    <br /><br /><br />
    <a href="{{ path('main_api_event', {'eventName': event.name}) }}">
        {{ event.name }}
    </a>
    <br />
    {{ event.description }}<br />

    <a href="{{ path('main_api_create_task', {'event_id': event.id}) }}">Create task</a><br />



    {{ event.eventDate|date('Y-m-d') }}<br />
    <a href="{{ path('main_api_add_participant', {'event_id': event.id}) }}">Add participant</a><br />
    {% for participant in event.participans %}

        {{ participant.userUnder }}


    {% endfor %}
{% endfor %}

<br/><br/>
{% endblock %}