{% extends 'MainApiBundle::layout.html.twig' %}

<<<<<<< Updated upstream
=======
    <script>
        var ajaxLink = '{{ path('main_api_notification_ajaxCall') }}';


        function ajaxCall(notificationId, response){

            $.ajax({
                url: ajaxLink,
                data: {
                    notificationId: notificationId,
                    response: response

                },
                dataType: 'json',

                success: function(response){

                    if(response.code == 100){
                        alert('1');

                    }

                },
                beforeSend: function(){

                },
                complete: function(){
                    $("#notification"+notificationId).remove();
                }

            });
        }
    </script>


{% endblock %}
>>>>>>> Stashed changes

{% block content %}
<a href="{{ path('main_api_create_event') }}">Create event</a><br />
<a href="{{ path('login') }}">Login</a><br />
<a href="{{ path('logout') }}">Logout</a><br />
{{ user }}
<br/>
<b>My events</b><br/>
{% for event in events %}
    <br /><br /><br />
    <a href="{{ path('main_api_event', {'event': event.name}) }}">
        {{ event.name }}
    </a>
    <br />
    {{ event.description }}<br />
    {{ event.eventDate|date('Y-m-d') }}<br />
    <a href="{{ path('main_api_add_participant', {'event_id': event.id}) }}">Add participant</a><br />
    {% for participant in event.participans %}
        {{ participant.userUnder }}
        <a href="{{ path('main_api_get_work', {'event_id': event.id, 'participant_id': participant.id}) }}">Get work</a><br />
    {% endfor %}
{% endfor %}

<br/><br/>
{% endblock %}