{% extends 'MainApiBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}

    <script>
        var connectLink = '{{ path('main_api_connect_ajaxCall') }}';
    </script>


{% endblock %}

{% block content %}
    {% block header %}{{ parent() }}{% endblock %}
    {% if userProfile == null %}
        User not found.
    {% else %}
        {{ userProfile }}
        <div class="connect-box">
        {% if isConnect == false %}

                <button class="sendConnect" onclick="sendConnectRequest({{ userProfile.id }})" >Connect</button>
                <div id="connect-loader" style="display:none;"><br>
                    <img src="{{ asset('bundles/mainapi/images/ajax-loader.gif') }}" alt="loader"/>
                </div>

        {% else %}
            Connected
        {% endif %}
        </div>

    {% endif %}

{% endblock %}